<h1>Calendar#show</h1>
<%= javascript_tag do %>
  schedule.object = <%= raw @schedule.to_json %>;
<% end %>
<div id="calendar"></div>
  <div class='container'>
    # カレンダー(jquery)を表示する場所(id)を設置
    <p>Find me in app/views/calendar/index.html.erb</p>
  </div>
</div>  
  
