<div class="mdl-grid">
  <h1 class="mdl-cell mdl-cell--12-col">ユーザ編集</h1>
</div>
<%= render 'form' %>
<div class="mdl-grid">
  <%= link_to users_path do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>