<div class="mdl-grid">
  <p class="mdl-cell mdl-cell--12-col" id="notice"><%= notice %></p>
  
  <h1 class="mdl-cell mdl-cell--12-col">ユーザ一覧</h1>
</div>

<div class="mdl-grid">
  <p class="mdl-cell mdl-cell--11-col">名前</p>
  <% @users.each do |user| %>
    <div class="mdl-cell mdl-cell--12-col">
      <%= link_to user.name, user %>
      <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="material-icons">delete</i>
      <% end %>
    </div>
  <% end %>
</div>
  
<div class="mdl-grid">
  <%= link_to '新規ユーザ', new_user_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-cell" %>
</div>