<div class="mdl-grid">
  <h1 class="mdl-cell mdl-cell--12-col">ユーザ新規作成</h1>
</div>
<%= render 'form' %>
<div class="mdl-grid">  
  <%= link_to users_path, class: "mdl-cell mdl-cell--8-col" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>