// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.floating-action-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 3;
}

@keyframes skew {
    0% {transform: skew(0deg, 0deg);}
    5% {transform: skew(8deg, 10.5deg);}
    10% {transform: skew(-6deg, -8deg);}
    15% {transform: skew(3deg, 2.2deg);}
    20% {transform: skew(-2deg, -1.5deg);}
    25% {transform: skew(0.9deg, 0.9deg);}
    30% {transform: skew(-0.6deg, -0.6deg);}
    35% {transform: skew(0.3deg, 0.3deg);}
    40% {transform: skew(-0.2deg, -0.2deg);}
    45% {transform: skew(0.1deg, 0.1deg);}  
    50% {transform: skew(0deg, 0deg);}
}
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
//  background: rgb(33,150,243);
  background: #03a9f4;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text {
  font-size: 18px !important;
  font-weight: bold;
}

.fade-progress-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;

  width: 128px;
  height: 64px;
}


/* 日曜日 */
.fc-sun {
    color: red;
}
 
/* 土曜日 */
.fc-sat {
    color: blue;
}

.fc-day:hover {
  background-color: #fcf8e3;
}

.fc-day-number {
  font-size: 24px;
}
