// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.floating-action-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 3;
}

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 60px;
//  background: rgb(33,150,243);
  background: #03a9f4;
  
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__title-text {
  font-size: 18px !important;
  font-weight: bold;
}

.fade-progress-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;

  width: 128px;
  height: 64px;
}


/* 日曜日 */
.fc-sun {
    color: red;
}
 
/* 土曜日 */
.fc-sat {
    color: blue;
}

.fc-day:hover {
  background-color: #fcf8e3;
}

.fc-day-number {
  font-size: 24px;
}
