<footer class="footer">
  <small>
    Copyright©2016-2017 @SGP All Rights Reserved. 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>